{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<f:flashMessages />









<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
				<f:for each="{machines}" as="machine" iteration="iterator">
				
					<li>
					<f:if condition="{iterator.index}<10>">
					
					<a href="#0" data-date="16/01/190{iterator.index}" class="{f:if(condition:iterator.isFirst, then: 'selected')}">{machine.title}</a></li>
					
					</f:if>
					<f:if condition="{iterator.index}>9">
					<a href="#0" data-date="16/01/19{iterator.index}" class="{f:if(condition:iterator.isFirst, then: 'selected')}">{machine.title}</a></li>

					</f:if>
				</f:for>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
				
				
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
		
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
		<f:for each="{machines}" as="machine" iteration="iterator">
		
		<f:if condition="{iterator.index}<10">
					
			<li class="{f:if(condition:iterator.isFirst, then: 'selected')}" data-date="16/01/190{iterator.index}">
					
					</f:if>
					<f:if condition="{iterator.index}>9">
			<li class="{f:if(condition:iterator.isFirst, then: 'selected')}" data-date="16/01/19{iterator.index}">

					</f:if>
					<h3 class="lead">{machine.title}</h3>
					<br/>
		<div>
			<f:if condition="{machine.images}">
		<f:image src="{machine.images.uid}" width="800" treatIdAsReference="1" />
		</f:if>
</div>
				
			
				<p>	{machine.description}</p>
			</li>
	</f:for>
			
		</ol>
	</div> <!-- .events-content -->
</section>

</f:section>

</html>